@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contenedor-principal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(100deg, rgb(109, 131, 190), rgba(119, 171, 238, 0.473));
}

.contenedor {
    position: relative;
    width: 850px;
    height: 550px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    margin: 20px;
}

.formulario{
    position: absolute;
    right: 0%; /* esto va comentado y mueve el form a la derecha */
    width: 50%;
    height: 100%;
    background: rgb(206, 208, 247);
    display: flex;
    align-items: center;
    text-align: center;
    color: rgb(6, 6, 68);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.input-box {
    margin: 5%;
}

/* Formulario Login */
.login-form {
    width: 100%;
    margin: 50;
}

.login-title {
    font-size: 40px;
    margin: -10px 0;
}

.login-input-box {
    position: relative;
    margin: 15px;
}

.login-input {
    width: 100%;
    padding: 13px;
    background: aliceblue;
    border-radius: 10px;
    border-color: aliceblue;
    outline: none;
    margin-top: 5;
}

.login-olvido-contraseña {
    text-align: left;
    padding-bottom: 10%;
    margin-top: -3%;
    margin-left: 15px;
    font-size: 14.5;
    color: #333;
    text-decoration: none;
}

.login-boton {
    background: rgb(6, 6, 68);
    color: rgb(225, 226, 247);
    border-radius: 8px;
    padding: 2%;
    margin: 2%;
    margin-bottom: 20px;
    position: relative;
    right: 0%;
    width: 30%;
}

.login-p {
    margin: 0;
}

.login-redes-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-redes-icono {
    margin: 0 10px;
}

/* Formulario Registro */
.registro-form {
    width: 100%;
    margin: 50;
}

.registro-title {
    font-size: 40px;
    margin: -10px 0;
}

.registro-input-box {
    position: relative;
    margin: 15px;
}

.registro-input {
    width: 100%;
    padding: 13px;
    background: none;
    border-radius: 10px;
    border-color: aliceblue;
    outline: none;
    margin-top: 5;
}

.registro-cuenta-con-una-cuenta {
    text-align: left;
    margin-top: 15px;
    font-size: 14.5;
    color: #333;
}

.registro-boton {
    background: rgb(6, 6, 68);
    color: rgb(225, 226, 247);
    border-radius: 8px;
    padding: 5;
    margin: 5;
    margin-bottom: 20px;
    position: relative;
    right: 0%;
    width: 30%;
}

.registro-p {
    margin: 0;
}

.registro-redes-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro-redes-icono {
    margin: 0 10px;
}

.formulario.registro {
    visibility: visible;
}

.toggle-panel img{
    opacity: 90%;
    width: 50%;
    position: absolute;
    margin-bottom: 65%;
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    color:rgb(6, 6, 68);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 7%;
}