*{
  margin: 0;
  padding: 0;
  border: 0;
}

#root {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background:rgb(206, 208, 247);
}

/*------------------AUX CONTABLE------------------*/
/*---------------NAV AUX CONTABLE---------------*/

.Header-Aux-Contable{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.H1-Aux-Contable{
  text-align: center;
  background-color: rgb(206, 208, 247);
  color: rgb(6, 6, 68);
  margin-top: 3%;
  margin-bottom: -2%;
}

.Navbar-Aux-Contable{
  width: 100%;
}.Ul-Aux-Contable{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Li-Aux-Contable{
  list-style: none;
  margin: 10px;
}

.A-Aux-Contador{
  text-decoration: none;
  color: black;
}

/*------------------MAIN AUX CONTABLE------------------*/

.Main-Aux-Contable{
  width: 100%;
  min-height: 73vh;
  text-align: center;
  margin: 5px;
  background: rgb(246, 248, 255);
  border-radius: 20px;
}


/*------------------CONTADOR------------------*/
/*---------------NAV CONTADOR--------------*/

.Header-Contador{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.H1-Contador{
  text-align: center;
  background-color: rgb(206, 208, 247);
  color: rgb(6, 6, 68);
}

.Navbar-Contador{
  width: 100%;
  min-height: 50px;
}

.Ul-Contador{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.Li-Contador{
  text-decoration: none; 
  color: rgb(206, 208, 247);
  background-color:rgb(242, 242, 251); 
  margin-right: 18px;
  border-radius: 10pc;
  border: solid 1px rgb(204, 203, 203);
  border-radius: 15px;
  box-shadow: 1px 1px 1px gray;
}

/* width: 90%;
  min-height: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 1px rgb(204, 203, 203);
  border-radius: 15px;
  box-shadow: 1px 1px 1px gray;
  margin-bottom: 10px; 
  margin-top: 15px;
  background-color: white;
  align-self: center; */

.Li-Contador:hover{
  background-color: rgb(171, 174, 245);
}

.A-Contador{
  min-width: 100%;
  min-height: 100%;
  display: block;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  margin: 8px;
  margin-top: -5px;
  margin-bottom: -5px;
  line-height: 3;
  border-color: aqua;

}

.Li-Desplegable-Contador{
  list-style: none;
}

.A-Desplegable-Contador{
  text-decoration: none;
  color: black;
}

/*------------------MAIN CONTADOR------------------*/

.Main-Contador{
  width: 100%;
  min-height: 80vh;
  text-align: center;
  background: rgb(246, 248, 255);
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
}


/*------------------REVISION DE ASIENTOS------------------*/


.Contenedor-Revision-Asientos{
  position: absolute;
  width: 90%;
  height: 50%;
  color:rgb(6, 6, 68);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
}

.Tabla-Revision-Asientos{
  width: 95%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Revision-Asientos{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Revision-Asientos{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}



/*------------------INFORMACION------------------*/
.Contenedor-Informacion{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(246, 248, 255);
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
}

/*------------ACTIVO------------*/
.Contenedor-Activo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Info{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
  border: solid 1px rgb(204, 203, 203);
  border-radius: 15px;
  box-shadow: 1px 1px 1px gray;
}

.Cabecera-Tabla-Activo{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Activo{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------PASIVO------------*/
.Contenedor-Pasivo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Pasivo{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Pasivo{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Pasivo{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------PATRIMONIO NETO------------*/
.Contenedor-PatrimonioNeto{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Patrimonio-Neto{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Patrimonio-Neto{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Patrimonio-Neto{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------------RESUMEN FINANCIERO------------------*/
.Contenedor-Resumen-Financiero{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: rgb(246, 248, 255);
  border-radius: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 3%;
}
/*------------Ingresos_VS_Gastos------------*/
.Contenedor-Ingresos-VS-Gastos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Ingresos-VS-Gastos{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Ingresos-VS-Gastos{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Ingresos-VS-Gastos{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------Ingresos------------*/
.Contenedor-Ingresos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Ingresos{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Ingresos{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Ingresos{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------Gastos------------*/
.Contenedor-Gastos{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Gastos{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Gastos{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Gastos{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------Flujo_De_Caja------------*/
.Contenedor-Flujo-De-Caja{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Tabla-Flujo-De-Caja{
  width: 60%;
  border: 2px solid rgb(13, 13, 123);
  border-radius: 20px;
  padding: 5px;
  font-size: larger;
  border-spacing: 10px;
}

.Cabecera-Tabla-Flujo-De-Caja{
  background-color: rgb(206, 208, 247);
}

.Td-Tabla-Flujo-De-Caja{
  border-bottom: 1px solid rgb(13, 13, 123);
  border-right: 1px solid rgb(13, 13, 123);
  padding: 7px;
}

/*------------------FOOTER------------------*/

.Footer-Administracion{
  width: 100%;
  min-height: 100px;
  display: flex;
  background-color: rgb(206, 208, 247);
  color: rgb(6, 6, 68);
}

.Footer-Administracion > p{
  width: 100%;
  text-align: center;align-self: center;
}

.Ul-Aux-Contable { 
  width: 100%;
  display: flex; 
  justify-content: end;
}

.Li-Aux-Contable { 
  width: 28%;
  display: flex; 
  justify-content: end;
}

.A-Aux-Contador{ 
  text-decoration: none; 
  color: black; 
  background-color:rgb(242, 242, 251); 
  margin-right: 20px;
  padding: 1.4%;
  border-radius: 10pc;
  border: solid 1px rgb(204, 203, 203);
  border-radius: 15px;
  box-shadow: 1px 1px 1px gray;
  margin-top: -5%;
}

.A-Aux-Contador:hover{
  background-color: rgba(25, 31, 150, 0.212);
}

/*FORM CARGA DE ASIENTO*/

.Contenedor-Formulario-Carga-Asientos{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 270px;
}

.H2-Form-Carga-Asientos{
  align-self: center;
  margin-top: 2%;
}

.form-carga-asiento{
  width: 90%;
  min-height: 270px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: solid 1px rgb(204, 203, 203);
  border-radius: 15px;
  box-shadow: 1px 1px 1px gray;
  margin-bottom: 10px; 
  margin-top: 15px;
  background-color: white;
  align-self: center;
}

.form-seccion1{
  width: 90%;
  min-height: 100px;
  margin: 10px;
  display: contents;
  flex-direction: row;
  flex-wrap: nowrap;
}

.form-seccion2{
  width: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  border-left: solid 2px black;
}

.contenedor-fecha{
  width: 30%;
  margin: 10px;
  border-right: solid 2px black;
}

.contenedor-operaciones{
  width: 30%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  padding-right: 10px;
  border-right: solid 2px black;
}

.contenedor-valores{
  width: 30%;
  min-height: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
}

.operacionesDebe{
  min-height: 50px;
  width: 330px;
  display: flex;
  flex-direction: column;
}

.botones-debe{
  width: 40%;
  display: absolute;
  flex-direction: column;
}

.operacionesDebe > button{
  align-self: flex-start;
}

.operacionesHaber{
  min-height: 50px;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.botones-haber{
  width: 40%;
  display: absolute;
  flex-direction: column;
  align-self: flex-end;
}

.operacionesHaber > input,button{
  align-self: flex-end;
}

.input-form{
  border: 1px solid gray;
  width: 80%;
  margin-bottom: 10px;
}


.input-form-fecha{
  margin-top: 20px;
  width: 80%;
  height: 20px;
  font-size: 20px;
}

.input-form-referencia{
  margin-top: 20px;
  width: 80%;
  height: 20px;
  font-size: 20px;
}

.input-form-debe{
  margin-top: 20px;
  width: 68%;
  min-height: 20px;
  font-size: 20px;

}

.input-form-haber{
  margin-top: 20px;
  width: 50%;
  min-height: 20px;
  font-size: 20px;
  align-self: flex-end;
}

/* ayuda no se como separar los botones */

.buttonDebe{
  width: 50%;
  min-height: 35px;
  border: solid 1px ;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  margin-top: 10px;
  background: rgba(173, 175, 226, 0.952);
}

.buttonDebe:hover{
  cursor: pointer;
  background-color: rgb(206, 208, 247);
}

.buttonHaber{
  width: 50%;
  min-height: 35px;
  border: solid 1px ;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  margin-top: 10px;
  background: rgba(173, 175, 226, 0.952);
}

.buttonHaber:hover{
  cursor: pointer;
  background-color: rgb(206, 208, 247);
}

.buttonGuardar{
  width: 60%;
  min-height: 40px;
  border: solid 1px ;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: rgba(82, 228, 82, 0.568);
  font-weight: bold;
}

.buttonGuardar:hover{
  color: white;
  cursor: pointer;
}

.buttonLimpiar{
  width: 60%;
  min-height: 40px;
  border: solid 1px ;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 20px;
  background-color: rgba(239, 79, 79, 0.739);
  font-weight: bold;
}

.buttonLimpiar:hover{
  color: white;
  cursor: pointer;
}